.todo__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  border-radius: 15px;
  padding: 20px;
}

.todo__text {
  word-break: break-all;
  width: 70%;
}

.todo__box-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
