body {
  font-family: "Roboto";
  margin: 0;
  color: #fff;
}

a {
  text-decoration: none;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid #ab47bc;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .modal-box {
    width: 250px;
  }
}
